.layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right,rgb(203, 2, 230),rgb(255, 176, 5));
    justify-content: center;
}