.chat-box{
    display: flex;
    align-items: center;
    justify-content: center;

}
.chat{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 80vw;
    height: 80vh;
    margin-bottom: 60px;
}