.chat-box{
    display: grid;
    align-items: center;
    justify-content: center;
}
.chat{
    display: flex;
    justify-content: space-between;
    height: 85vh;
    width: 90vw;
    background-color: #fff;
}