.MessageBox{
    flex: 0.8;
}

.displayMessages{
    height: 90%;
    width: 99%;
    background-color: orange;
    overflow-y: scroll;
    padding: 7px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.displayMessages::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.displayMessages {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  

.message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    background-color: #eee;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 20px;
}

.user{
    margin-left: auto;
    background-color: #c6e8f8;
}